p {
    margin: 10px 67px 20px;
}

h3 {
    text-decoration: underline;
    margin: 10px 67px 20px;
}

a {
    color: #1614b4;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

body {
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 140%;
    font-family: helvetica, sans-serif;
    box-sizing: border-box;
    color: #44475d;
}

.mention {
    line-height: 2em;
}

.ruban {
    text-align: center;
    background: #F3F2EF;
    padding: 10px 50px 20px;
    border-radius: 30px;
    opacity: 0.5;
}

ol {
    list-style: none;
}