@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');


main {
    padding-bottom: 130px;
}

a {
    cursor: pointer;
}

#profil_user p, #profil_user button, #profil_user div, #profil_user span {
    font-family: 'Ramaraja', serif;
}

.wrap_profil_user {
    margin: 0 auto;
    max-width: 100%;
    width: 1000px;
}

.profil_user_h1 {
    padding-top: 100px;
    text-decoration: none;
    margin-bottom: 15px;
}

.menu_nav_profil_user {
    display: flex;
    justify-content: space-around;
}

button.but_profil_user {
    margin-right: 10px;
    width: 100%;
    height: 80px;
    font-size: 1rem;
}

.active_userProfil {
    background-color: black;
    color: white;
    border: none;

}

button.but_profil_user:last-child {
    margin: 0;
}

.profil_user_block {
    padding: 1rem;
}

.show_block_profil_user {
    display: block;
    border: 1px solid black;
    border-top: none;
}

.none_block_profil_user {
    display: none;
}

span.info_perso_profil_user {

}

.profil_user_oneCV {
    width: 100%;
    height: 200px;
    border: 1px solid red;
    display: flex;
}

.one_box_userProfil_forma {
    padding: 1rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.one_box_userProfil_forma p {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 16px;
}

.date_userProfil {
    color: grey;
}

.one_box_userProfil_forma:last-child {
    margin: 0;
}

.btn_userProfil {
    display: flex;
    align-items: center;
}


.one_btn_userProfil {
    padding: 12px 17px;
    border-radius: 30px;
    border-color: black;
}

.one_btn_userProfil:first-child {
    margin-right: 5px;
}

.log_formation {
    font-size: 2rem;
}

/* tableau des CVs*/

table.minimalistBlack {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table.minimalistBlack td, table.minimalistBlack th {
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 13px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
    font-size: 25px;
    font-weight: 400;
    color: #000000;
    text-align: left;
}


table.minimalistBlack tfoot td {
    font-size: 14px;
}

table.minimalistBlack td p, table.minimalistBlack td a {
    margin-left: 1rem;
    font-size: 25px;
    display: inline;
}